@import url(./normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,-50..200;1,17..18,400..700,-50..200&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    font-size: 14px;
}

.container {
    margin-left: 150px;
}

/* --- Header --- */

.header {

}

.header__ceil {
    height: 16px;
}

.header__strip {
    opacity: 0.4;
    margin: 0;
}

/* --- Header__section --- */

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__logo {
    padding: 4px 44px 0 12px;
}

.letter-g {
    fill: #3186ff;
}

.letter-o {
    fill: #fc413d;
}

.letter-o2 {
    fill: #ffbe00;
}

.letter-g2 {
    fill:  #3186ff;
}

.letter-l {
    fill: #00af57;
}

.letter-e {
    fill: #fc413d;
}

.header__form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;
    position: relative;
}

.header__search {
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 724px;
    height: 52px;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
}

.header__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
}

.header__stick {
    height: 30px;
    width: 1px;
    margin: auto 5px;
    background-color: gray;
    opacity: 0.4;
}

.header__button {
    background-color: transparent;
    padding: 0 8px;
    border: none;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__icon {
    opacity: 0.7;
    width: 24px;
    height: 24px;
}

.header__tools {
    display: flex;
}

/* --- Header__nav --- */

.header__nav {
    display: flex;
    padding: 6px 0 0 0;
}

.header__link {
    display: flex;
    align-items: end;
    height: 48px;
    width: auto;
    padding: 0 12px;
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.header__text {
    padding: 0 0 8px 0;
    border-bottom: 3px solid transparent
}

.header__text.active {
    border-bottom: 3px solid black;
}