@import url(./normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,-50..200;1,17..18,400..700,-50..200&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    font-size: 14px;
}

.container {
    margin-left: 150px;
}

/* --- Header --- */

.header__ceil {
    height: 16px;
}

.header__strip {
    opacity: 0.4;
    margin: 0;
}

/* --- Header__section --- */

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-right: 20px;
}

.header__logo {
    padding: 4px 44px 0 12px;
}

.letter-g {
    fill: #3186ff;
}

.letter-o {
    fill: #fc413d;
}

.letter-o2 {
    fill: #ffbe00;
}

.letter-g2 {
    fill:  #3186ff;
}

.letter-l {
    fill: #00af57;
}

.letter-e {
    fill: #fc413d;
}

.header__form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;
    position: relative;
}

.header__search {
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 724px;
    height: 52px;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
}

.header__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
}

.header__stick {
    height: 30px;
    width: 1px;
    margin: auto 5px;
    background-color: gray;
    opacity: 0.4;
}

.header__button {
    background-color: transparent;
    padding: 0 8px;
    border: none;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__button--tools {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
}

.header__button--tools:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.header__form:has(.header__search:placeholder-shown) .header__button--reset {
  display: none;
}

.header__icon {
    opacity: 0.7;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.header__icon--profile {
    opacity: 1;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.header__tools {
    display: flex;
    gap: 10px;
}

/* --- Header__nav --- */

.header__nav {
    display: flex;
    padding: 6px 0 0 0;
}

.header__link {
    flex-shrink: 0;
    display: flex;
    align-items: end;
    height: 48px;
    width: auto;
    padding: 0 12px;
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.header__link:hover {
    color: black;
}

.header__text {
    padding: 0 0 8px 0;
    border-bottom: 3px solid transparent
}

.header__text.active {
    color: black;
    border-bottom: 3px solid black;
}

.header__triangle {
    width: 16px;
    height: 32px;
    opacity: 0.4;
    padding: 0 0 8px 0;
    border-bottom: 3px solid transparent
}

.header__link--menu:hover .header__triangle {
    opacity: 1;
}


/* --- Main --- */

.main .container {
    display: grid;
    grid-template-columns: 700px 410px;
    gap: 40px;
    margin: 0 150px;
}

.main-content {
    padding-right: 40px;
}

/* --- Search-result --- */

.search-result {
    padding-left: 12px;
}

.search-result__item {
    margin-top: 25px;
}

.search-result__link {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.search-result__header {
    display: flex;
    align-items: end;
}

.search-result__circle {
    background-color: rgba(128, 128, 128, 0.05);
    width: 28px;
    height: 28px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.search-result__img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
}

.search-result__meta {
    font-size: 14px;
    color: #1F1F1F;

    display: flex;
    flex-direction: column;
}

.search-result__hint {
    font-size: 12px;
    margin-right: 12px;
}

.search-result__marker {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    opacity: 0.6;
}

.search-result__marker:hover {
    background-color: rgba(128, 128, 128, 0.2);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.search-result__about {
    width: 18px;
    height: 18px;
}

.search-result__title {
    font-size: 22px;
    color: #1A0DAB;
}

.search-result__title--main {
    padding-top: 5px;
}

.search-result__link:visited .search-result__title {
    color: #681DA8;
}

.search-result__title:hover {
    text-decoration: underline;
}

.search-result__text {
    font-size: 14px;
    color: #6C6C6C;
    font-family: Arial, Helvetica, sans-serif;
}

.search-result__text--first {
    padding: 4px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search-result__bold {
    font-weight: 600;
}

.search-result__line {
    opacity: 0.4;
    margin: 10px 0;
    margin-right: 15px;
    
}

.search-result__part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-result__info {
    display: flex;
    flex-direction: column;
}

.search-result__link--secondary {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.search-result__link--third {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-result__story {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 50%;
    width: 38px;
    height: 38px;

    margin-right: 24px;
}

.search-result__story:hover {
    background-color: rgba(135, 206, 235, 0.2);
}

.search-result__icon {
    width: 18px;
    height: 18px;
}

.search-result__title--secondary {
    font-size: 18px;
}

.search-result__arrow {
    width: 16px;
    height: 16px;
    opacity: 0.8;
    margin-right: 24px;
}

.search-result__link--third:hover .search-result__title--secondary {
    text-decoration: underline;
}

.search-result__link--secondary:hover .search-result__title--secondary {
    text-decoration: underline;
}

.search-result__more {
    font-size: 14px;
    text-decoration: none;
    color: #1F1F1F;
}

.search-result__more:hover {
    text-decoration: underline;
}

.search-result__read-more {
    color: #474747;
}

/* --- Blog content --- */

.blog-content {
    padding-left: 12px;
    margin: 40px 0;
}

.blog-content__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.blog-content__title {
    font-size: 20px;
    color: #1F1F1F;
    font-weight: 400;
}

.blog-content__info {
    position: relative;
}

.blog-content__picture {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-content__header-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.blog-content__picture--first {
    z-index: 3;
}

.blog-content__picture--second {
    left: 12px;
    z-index: 2;
}

.blog-content__picture--third {
    left: 24px;
    z-index: 1;
}

.blog-content__text {
    font-size: 14px;
    color: #636363;
    position: absolute;
    left: 50px;
}

.blog-content__cards {
    display: flex;
    gap: 20px;
}

.blog-content__item {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 205px;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 15px;
}

.blog-content__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.blog-content__video {
    height: 170px;
    padding-bottom: 12px;
    background-color: transparent;
}

.blog-content__about {
    font-size: 14px;
    color: #1F1F1F;
    padding: 6px 8px 6px 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.blog-content__stats {
    font-size: 12px;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 8px 6px 8px;
    margin-top: auto;
}

.blog-content__media {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 8px 12px 8px;
    position: relative;
}

.blog-content__file-second {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FFFFFF;
    left: 18px;
    top: 18px;
}

.blog-content__icon-first {
    width: 10px;
    height: 10px;
}

.blog-content__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.blog-content__social {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.blog-content__name {
    font-size: 12px;
    color: #1F1F1F;
}

.blog-content__brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #636363;
}

.search-result__marker--blog {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.blog-content__header--second {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.blog-content__button {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.1);
}

.blog-content__button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.blog-content__arrow {
    opacity: 0.6;
    width: 25px;
}

.blog-content__info--second {
    gap: 40px;
    display: flex;
    align-items: center;
}

/* --- Search content --- */

.search-content {
    padding-left: 12px;
    margin-top: 20px;
}

.search-content__cards {
    display: flex;
    gap: 15px;
}

.search-content__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-content__item {
    display: flex;
    align-items: center;
    width: 320px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
}

.search-content__link {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

.search-content__text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F1F;
}

.search-content__link:hover {
    text-decoration: underline;
}

.search-content__img {
    width: 18px;
    height: 18px;
    opacity: 0.4;
}

/* --- Search nav --- */

.search-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
    margin-bottom: 40px;
}

.search-nav__links {
    margin-left: 68px;
    display: flex;
    align-items: center;
}

.search-nav__numbers {
    width: 155px;
    display: flex;
}

.search-nav__list {
    width: 16.2px;
    text-align: center;
    text-decoration: none;

}

.search-nav__next {
    margin-left: 40px;
    text-decoration: none;
}

.search-nav__arrow {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 5px;
}

.search-nav__list:hover {
    text-decoration: underline;

}

.search-nav__next:hover {
    text-decoration: underline;
}